

<nav class="bottomNav">
    <ol>
        <li>
            <div class="nav-circle"></div>
            <a href="/" class="navIcon" id="home"><img class="navIconImage" id="house" src="home_hallow.svg"><p>explore</p></a>
           
        </li>
        <li>
            <div class="nav-circle"></div>
            <a href="/add" class="navIcon" id="create"><img class="navIconImage" id="quill" src="quillhallow.svg"><p>compose</p></a>
            
        </li>
        <li>
            <div class="nav-circle"></div>
            <a href="/ar" class="navIcon" id="ar" ><img class="navIconImage" id="box" src="boxhallow.svg"><p>interact</p></a>
        </li>
    </ol>
</nav>
</body>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/share-buttons.js"></script>
</html>