<div class="modal arModal">
    <div class="arHead">
        <h2>Interactive</h2>
        <div class="hamburger">
            <a href="/"><img src="../close.svg" class="closeIntro"></a>
        </div> 
    </div>
    <div class="arGrid">
        <p>Find the markers around Bishop Woods and press the corresponding icon on the interact page to begin your viewing experience.</p>
        <div class="grid-container">
            <div class="grid-item"><a href="/ar/1"><img src="../ar/patterns/pattern_img/pattern-00.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/2"><img src="../ar/patterns/pattern_img/pattern-01.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/3"><img src="../ar/patterns/pattern_img/pattern-02.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/4"><img src="../ar/patterns/pattern_img/pattern-03.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/5"><img src="../ar/patterns/pattern_img/pattern-04.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/6"><img src="../ar/patterns/pattern_img/pattern-05.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/7"><img src="../ar/patterns/pattern_img/pattern-06.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/8"><img src="../ar/patterns/pattern_img/pattern-07.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/9"><img src="../ar/patterns/pattern_img/pattern-08.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/10"><img src="../ar/patterns/pattern_img/pattern-09.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/11"><img src="../ar/patterns/pattern_img/pattern-10.png" class="arMarker"></a></div>
            <div class="grid-item"><a href="/ar/12"><img src="../ar/patterns/pattern_img/pattern-11.png" class="arMarker"></a></div>
          </div>
    </div>
</div>