<div class="create">
  <form action="/api/poems" method="POST">
      
      <div class="p1">
        <h2 id="composeHeader">Compose</h2>
        <textarea name="poem" id="poemInput" placeholder="write beautiful words..."></textarea>
          <input name="author" type="text" id="authorInput" placeholder="Author"></input>
          <br>
          <!-- <p>Add your poem and click "Try It"</p> -->
          <div class="next">Next</div>
      </div>
      <div class="gifPicker">
        <input type="radio" id="0" name="gif" value="0" checked>
        <input type="radio" id="1" name="gif" value="1">
        <input type="radio" id="2" name="gif" value="2">
        <input type="radio" id="3" name="gif" value="3">
        <input type="radio" id="4" name="gif" value="4">
        <input type="radio" id="5" name="gif" value="5">
        <input type="radio" id="6" name="gif" value="6">
        <input type="radio" id="7" name="gif" value="7">
        <input type="radio" id="8" name="gif" value="8">
        <input type="radio" id="9" name="gif" value="9">
        <input type="radio" id="10" name="gif" value="10">
        <input type="radio" id="11" name="gif" value="11">
        <input type="radio" id="12" name="gif" value="12">
        <input type="radio" id="13" name="gif" value="13">
        <input type="radio" id="14" name="gif" value="14">
        <input type="radio" id="15" name="gif" value="15">
        <input type="radio" id="16" name="gif" value="16">
        <input type="radio" id="17" name="gif" value="17">
        <input type="radio" id="18" name="gif" value="18">
        <input type="radio" id="19" name="gif" value="19">
        <input type="radio" id="20" name="gif" value="20">
      <div class="container">
      <div class="featured-wrapper">
          <ul class="featured-list"> 
            <li>
              <div id="backArrow" class="backArrow"><span class="material-icons backArrow">
                keyboard_arrow_right
                </span></div>
                <figure>
                    <div class="pickerDiv gif0"></div>
                </figure>
                <div id="forwardArrow" class="forwardArrow"><span class="material-icons forwardArrow">
                  keyboard_arrow_right
                  </span></div>
            </li>
      </div>  
      </ul>
      <div class="submitAndBack">
          <div class="back">Back</div>
          <button class= "composeSubmit" type="submit">Submit</button>
      </div>
    </div>
</div>
  </form>
</div>