<div class="visualizer">
    <button id="visualizerPlayButton" disabled>
        <span class="material-icons">play_arrow</span>
    </button>
    <div id="visualizerCloseButton">
        <span class="material-icons">close</span>
    </div>
    <div id="dis"></div>
</div>
<div class="share-btn popup">
    <a class="btn-twitter" data-id="tw"><img class="btn-twitter" data-id="tw" src="/Twitter Logos/Twitter_Logo_Blue/Twitter_Logo_Blue.svg"></a>
    <a class="btn-facebook" data-id="fb"><img class="btn-facebook" data-id="fb" src="/f-Logos-2019-1/f_Logo_Online_04_2019/Color/PNG/f_logo_RGB-Blue_58.png"></a>
</div>
<div class="share-btn-container">
    <div class="share-btn"><span class="material-icons share-btn">share</span></div>
</div>
<script src="https://unpkg.com/tone@14.7.58/build/Tone.js"></script>
<script src="/javascripts/visualizer.js"></script>
