<div class="info">
    <h1>WHO WE ARE</h1>
    <div>
        <p>We are a group of multi-disciplinary students who have teamed up throughout the many colleges of Miami University. With a shared passion for creating a beautiful and engaging experiences, we wanted to make something that not only represents the histoy of our beautiful campus, but also celebrates the future.</p>
    </div>
</div>