<div class="info">
    <h1>THE POET SHACK</h1>
    <h4>ABOUT OUR NAMESAKE</h4>
    <div>
        <p>In 1919, President R. M. Hayes and Percy MacKaye created the model for how a University could support an artist without giving them the duties of being a professor, as was the most common path for writers trying to find support in acadenic institutions. The University built a house for MacKaye and his family to live and work. MacKaye would be able to deviate his focus to his work, creating fine American art and inviting top students in to support them in their creative endevors. It stood in Bishop Woods, which once was much more wooded.</p>
        <p>It was the students of Miami who started referring to his home as ‘The Poet Shack.’</p>
        <p>Percy MacKaye was a writer of the times. In the 1920s, America was experiencing it’s Gilded Age, a time that brought Artists like Percy MacKaye both possibility and worry. The rapidly growing economy meant that the rich could support the ‘Arts and Letters,’ but also that consumerism was on the rise. As such, his pieces reflect on war, consumerism, his love of the land around him, and in defense of those whose land was being stolen.</p>
    </div>
    <h4>OTHER FEATURED ARTISTS</h4>
    <div>
        <p>Rita Dove was born in Akron, Ohio in 1952 where she was raised by her father who was a chemist, and her mother who inspired her passion for reading and writing. She attended high school at John R. Buchtel Community Learning Center where she graduated as a Presidential Scholar before going on to earn a B.A. in English at Miami University in 1973. She later earned an MFA at the University of Iowa in 1977.</p>            
        <p>Rita Dove then published her first book of poems in 1980, titled The Yellow House on the Corner and subsequently followed that up with many other acclaimed anthologies. In 1987 she won a Pulitzer Prize for writing Thomas and Beulah, becoming only the second African American poet to win this award.</p>
        <p>Continuing to write poems and receive many honorary degrees and awards, Dove was later named Poet Laureate of the United States where she served from 1993 to 1995 and became the first African American to receive this honor. To this day, Dove continues to be a voice for change and continues to write poems and essays that inspire and make people think critically about the world.</p>
    </div>
</div>