<div class="info">
    <h1>FOLLOW US</h1>
    <div>
        <a href="https://www.instagram.com/thepoetshack/">on Instagram</a>
        <a href="https://www.facebook.com/TheGatheringatThePoetShack">on Facebook</a>
        <a href="https://twitter.com/thePoetShack">on Twitter</a>
    </div>

</div>